

<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">

  <!-- Modal Logout -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelLogout"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <a href="" (click)="Logout()" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div>



  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">

        <div class="container" *ngIf="regErrorCondition">
          <div class="row">
            <div class="col-sm-10 col-md-12">
              <div class="alert-message alert-message-danger alert">
                <h4>Registration Failed !</h4>
                <p>{{regErrorMessage}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="container" *ngIf="regErrorCondition == false">
          <div class="row">
            <div class="col-sm-10 col-md-12">
              <div class="alert-message alert-message-success alert">
                <h4>Registration Success !</h4>
                <p>{{regErrorMessage}}</p>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="col-md-9 register-right">

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading" style="font-family: 'Calibri Light';font-size: 25px;"><i class="fas fa-user-plus text-danger"></i>&nbsp;&nbsp;User/Device Registration</h3>
            <div class="row register-form">

              <div class="col-md-6">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="text"  class="form-control" formControlName="username" placeholder="Username" value="" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required !</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="password" placeholder="Password" value="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required !</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters !</div>
                    <div *ngIf="f.password.errors.pattern">Invalid Password !<div class="alert-light" role="alert">


                      <ul class="list-group" style="color: #be2617">
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #b1dfbb">
                         Password must contain
                          <span class="badge  badge-pill">✅</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center" >
                          At least 8 characters in length
                          <span class="badge  badge-pill">✅</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center" >
                          Lowercase letters
                          <span class="badge  badge-pill">✅</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Uppercase letters
                          <span class="badge  badge-pill">✅</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center" >
                          Numbers & Special characters
                          <span class="badge  badge-pill">✅</span>
                        </li>

                      </ul>


                    </div></div>



                  </div>

                </div>
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" value="" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required !</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match !</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control text-danger border-bottom-success" disabled [value]="generatedDeviceId" placeholder="Device Id"   />

                  <button type="button" style="margin-top: 10px;" class="btn btn-primary btn-sm btn-danger" (click)="getGeneraterandomDeviceId()"><i class="fas fa-sync">&nbsp;&nbsp;<span style="font-size: 13px;font-family: 'Calibri Light'">Generate Device Id</span></i></button>
                </div>

                <div class="form-group">
                  <div class="maxl">

                  </div>
                </div>
                </form>
              </div>
              <div class="col-md-6">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" formControlName="email" value="" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required !</div>
                    <div *ngIf="f.email.errors.pattern">Invalid email address ! <br> Ex : (info@rzktechnology.com)</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="tel"  name="txtEmpPhone" formControlName="contactNumber" class="form-control" placeholder="Contact Number" value="" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }" />
                  <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.contactNumber.errors.required">Contact Number is required !</div>
                    <div *ngIf="f.contactNumber.errors.pattern">Invalid Contact Number ! <br> Ex : (+94 XXX XXX XXXX)</div>
                  </div>
                </div>
                <div class="form-group">
                  <select class="form-control" formControlName="userType">
                    <option class="hidden" [disabled]="true" [defaultSelected]="true" [selected]="true">User Type</option>
                    <option>Admin</option>
                    <option>User</option>
                  </select>

                </div>

                <input type="submit" class="btnRegister form-group"  value="Register"/>
                </form>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div>
  </div>
  <br>
  <br>
</div>
