

<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/adminPannel">
    <div class="sidebar-brand-icon">
      <img src="https://firebasestorage.googleapis.com/v0/b/homyiot-platform.appspot.com/o/home3.png?alt=media&token=cf97f065-8bb0-488f-b0f5-3f0aad5e5884">
    </div>
    <div class="sidebar-brand-text mx-3">HomY IoT</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" href="/adminPannel" (click)="dashboard()">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    User Management
  </div>




  <li class="nav-item">
    <a class="nav-link" href="/addUser" (click)="addUser()">
      <i class="fas fa-user-plus fa-4x"></i>&nbsp;
      <span>Add User</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/manageUserProfile" (click)="manageUser()">
      <i class="fas fa-user-cog"></i>&nbsp;
      <span>Manage User Profile</span>
    </a>
  </li>



  <hr class="sidebar-divider">

</ul>

